body {
    margin: 0;
    box-sizing:border-box;
    padding:0;
    background: #1c1c1c;
    display:flex;
    height:100%;
    align-items: center;
}
#container{
    width:600px;
    border:1px solid black;
    background: #273549;
    margin-inline:auto;
    padding:50px;
    height:380px;
    border:5px solid white;
    border-radius:10px;
    font-family:cursive;
}
#h1-el{
    color:white;
    font-size:45px;   
    margin-bottom:0;
}
#h1-el span{
    color:#10B981;
}
#p-el{
    color:white;
}
#btn-el{
    margin-top:40px;
    padding:10px;
    border-radius:5px;
    border:none;
    background:#10B981;
    color:white;
    font-weight:bold; 
    box-shadow:-4px 4px #dadada; 
}
#display-el{
    display:flex;
    gap:50px;
    width:550px;
    margin-inline:auto;
    border-top:1px solid #dadada;
    margin-top:30px;

}
#display1-el,#display2-el{
    margin-top:30px;
    height:30px;
    width:270px;
    background:#1F2937; 
    border-radius:5px;
    text-align: center;
    padding-top:10px;
    
    color:#10B981;
    font-weight:bold;
}

